body {
  background-color: black;
}

#start {
  font-size: 50px;
  float: left;
  color: blue;
}

#break {
  font-size: 50px;
  text-align: right;
  color: blue;
}

#reset {
  font-size: 25px;
  text-align: center;
  color: red;
}

#clock {
  font-size: 100px;
  text-align: center;
  color: white;
}
